<div class="container">
    <h1>Address Information</h1>
    <form [formGroup]="form" (ngSubmit)="onClickNext()">
        <div class="form-row">
            <div class="col-6">
                <label>Street</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="txtStreet" 
                    formControlName="street"
                    placeholder="Street"
                >
            </div>
            <div class="col-6">
                <label>House Number</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="txtHouseNumber" 
                    formControlName="houseNumber"
                    placeholder="House Number"
                >
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                <label>Zip Code</label>
                <input 
                    type="number" 
                    class="form-control" 
                    id="txtZipCode" 
                    formControlName="zipCode"
                    placeholder="Zip Code"
                >
            </div>
            <div class="col-6">
                <label>City</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="txtCity" 
                    formControlName="city"
                    placeholder="City"
                >
            </div>
        </div>
        <br>
        <button 
            type="button" 
            class="btn btn-primary"
            (click)="onClickBack()">
            Back
        </button>
        <button 
            type="submit" 
            [disabled]="!form.valid" 
            class="btn btn-primary">
            Next
        </button>
    </form>
</div>